<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/edit_form.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <section id="workout-form-section"> 
            <h2>Edit your workout</h2>
            <form id="workout-form" action="/workouts/edit/{{ result.workout_id }}" method="post">
                    <label for="date">Date <input id="date" name="date" type="date" value="{{ result.date }}" required></label>
                    <label for="split">Split <input id="split" name="split" value="{{ result.split }}" type="text"></label>  
                    <button type="button" class="addExerciseBtn">Add exercise</button>
                    {% for exercise in result.workout.exercises %}
                    <section class="exerciseSection">
                        <label>Exercise: <input value="{{ exercise.name }}"></label>
                        <button type="button" class="addSetBtn">Add set</button>
                        <button type="button" class="removeExerciseBtn">Remove exercise</button>
                            {% for set in exercise.sets %}
                            <section class="setSection">
                                <label>Weight: <input value="{{ set.weight }}"></label>
                                <label>Reps: <input value="{{ set.reps }}"></label>
                                <button type="button" class="removeSetBtn">Remove set</button>
                            </section>
                            {% endfor %}
                    </section>
                    {% endfor %}
            </form>
            <button type="submit" form="workout-form">Confirm changes</button>
        </section>
    </main> 
</body>
</html>