<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <script src="/js/form.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <section id="workout-form-section"> 
            <h2>Log a workout</h2>
            <form id="workout-form" action="submit" method="post" onsubmit="return validateForm()">
                    <label for="date">Date <input id="date" name="date" type="date" required></label>
                    <label for="split">Split <input id="split" name="split" type="text"></label>
                    <button id="confirm-date-split-button" type="button">Confirm date and split</button>      
            </form>
            <button id="submit-workout-button" type="submit" form="workout-form">Submit workout</button>
        </section>
        <section id="current-workout-section"></section>
    </main> 
</body>
</html>