<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/log.css">
    <script src="/js/log.js" defer></script>
</head>
<body>
    <header>Welcome</header>
    <main>
        <a href="logout"><button name="logoutButton", type="button">Logout</button></a>
        <section>
            <a href="/submit">
                <button type="button">Log a workout</button>
            </a>
        </section>
        <section id="prev-workouts-section">
            <h1>Your previous workouts</h1>
        </section>
    </main>
</body>
</html>