<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h2>Login</h2>
        <form id="loginForm", method="post", action="login">
            <label>Username<input id="username" name="username"></label>
            <label>Password<input type="password" name="password"></label>
            <button form="loginForm", id="loginButton", type="submit">Login</button>
        </form>
        <a href="signup"><button name="signupButton", type="button">Sign up</button></a>
    </main>
<script type="text/javascript" src="script.js"></script>
<script src="nunjucks.js"></script>
</body>
</html>